body {
    margin: 0;
}

div {
    background-color: rgba(157, 222, 0, 0.3);
    border: 2px solid black;
    box-sizing: border-box; 
}

p {
    margin: 10px;
}

.flex-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-section {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.item1 {
    width: 30%;

    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 

    padding-top: 20px; 
    text-align: center;
}

.right-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.item2 {
    width: 100%;
    text-align: left;
}

.sub-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.center-col {
    width: 57.14%; 
    display: flex;
    flex-direction: column;
}

.item3 {
    flex-grow: 1;
    text-align: right;
}

.item5 {
    flex-grow: 1;
    text-align: left;
}

.item4 {
    width: 42.86%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item6 {
    width: 100%;
    text-align: right;
}

