.GridContainer {
display: grid;
grid-template-rows: repeat(5, auto);
grid-template-columns: 60% 40%; 
}

body{
margin:0;
}

div {
  background-color: rgba(157, 222, 0, 0.3);
  border:2px solid black;
}

p {
margin:10px;
}
.item1 {
grid-area: 1 / 1 / 2 / 3;
text-align: center;
}

.item2 {
grid-area: 2 / 1 / 3 / 3;
text-align: left;
}

.item3 {
grid-area: 3 / 1 / 4 / 2;
text-align: right;
}

.item4 {
grid-area: 3 / 2 / 5 / 3;
text-align: center;
}

.item5 {
grid-area: 4 / 1 / 5 / 2;
text-align: left;
}

.item6 {
grid-area: 5 / 1 / 6 / 3;
text-align: right;
}